#button {
    -fx-background-radius:3;
    -fx-background-color: #FFFFFF;
    -fx-border-color:transparent;
    -fx-border-width: 3 3 3 3;
}

#button:hover {
    -fx-background-radius:3;
    -fx-border-color:lime;
    -fx-border-radius:2;
    -fx-border-width: 3 3 3 3;
}

#button:disabled, #button0:disabled, #button1:disabled, #button2:disabled, #button3:disabled, #buttondome:disabled {
    -fx-background-radius:3;
    -fx-opacity: 1;
    -fx-border-radius:3;
    -fx-border-color:transparent;
    -fx-border-width: 3 3 3 3;
}

#buttonexit, #buttonexit:disabled {
    -fx-background-radius:3;
    -fx-border-radius:3;
    -fx-background-color: #FFFFFF;
    -fx-border-color:transparent;
    -fx-opacity: 1;
    -fx-border-width: 3 3 3 3;
}

#buttonexit:hover {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-border-color:red;
    -fx-border-width: 3 3 3 3;
}

#buttontutorial {
    -fx-background-radius:3;
    -fx-border-radius:3;
    -fx-background-color: #FFFFFF;
    -fx-border-color:transparent;
    -fx-border-width: 3 3 3 3;
}

#buttontutorial:hover {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-border-color:blue;
    -fx-border-width: 3 3 3 3;
}

#level0 {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-text-fill: #59bdE6;
}

#level1 {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-text-fill: #FF6600;
}

#level2 {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-text-fill: #d9534f;
}

#level3 {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-text-fill: #5cb85c;
}

#dome {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-text-fill: #1338BE;
}

#button0 {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-background-color: #59bdE6;
    -fx-border-color:transparent;
    -fx-border-width: 2 2 2 2;
}

#button1 {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-background-color: #F9D71C;
    -fx-border-color:transparent;
    -fx-border-width: 2 2 2 2;
}

#button2 {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-background-color: #d9534f;
    -fx-border-color:transparent;
    -fx-border-width: 2 2 2 2;
}

#button3 {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-background-color: #5cb85c;
    -fx-border-color:transparent;
    -fx-border-width: 2 2 2 2;
}

#buttondome {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-background-color: #1338BE;
    -fx-border-color:transparent;
    -fx-border-width: 2 2 2 2;
}

#Artemis, #Apollo, #Athena, #Atlas, #Demeter, #Haephestus, #Hermes, #Minotaur, #Pan, #Prometheus {
    -fx-border-color:transparent;
    -fx-border-width: 2 2 2 2;
}

#Artemis:selected, #Apollo:selected, #Athena:selected, #Atlas:selected, #Demeter:selected, #Hephaestus:selected, #Hermes:selected, #Minotaur:selected, #Pan:selected, #Prometheus:selected {
    -fx-border-color:lime;
    -fx-border-width: 2 2 2 2;
}

#selectionType0 {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-background-color: #FFFFFF;
    -fx-border-color:transparent;
    -fx-border-width: 2 2 2 2;
}

#selectionType0:disabled {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-opacity:1;
    -fx-background-color: #FFFFFF;
    -fx-border-color:transparent;
    -fx-border-width: 2 2 2 2;
}

#selectionType1 {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-background-color: #FFFFFF;
    -fx-border-color:lime;
    -fx-border-width: 2 2 2 2;
}

#selectionType1:disabled {
    -fx-background-radius:3;
    -fx-border-radius:2;
    -fx-opacity:1;
    -fx-background-color: #FFFFFF;
    -fx-border-color:transparent;
    -fx-border-width: 2 2 2 2;
}

#boardButton, #boardButton:disabled {
    -fx-background-radius:2;
    -fx-border-radius:2;
    -fx-opacity: 1;
    -fx-border-width: 2 2 2 2;
}

#infoLabel {
    -fx-background-radius: 0;
    -fx-border-color:transparent;
}

.transparentBorder {
    -fx-border-color: transparent;
}

.orangeBorder {
    -fx-border-color: orange;
}

.greenBorder {
    -fx-border-color: lime;
}

.dome {
    -fx-background-color: #1338BE;
}

.level0 {
    -fx-background-color: #59bdE6;
}

.level1 {
    -fx-background-color: #FF6600;
}

.level2 {
    -fx-background-color: #d9534f;
}

.level3 {
    -fx-background-color: #5cb85c;
}

#slot {
    #button {
    -fx-background-radius:3;
    -fx-background-color: #FFFFFF;
    -fx-border-color:transparent;
    -fx-border-width: 3 3 3 3;
}

#buttonR, #buttonR:disabled {
    -fx-background-radius:3;
    -fx-background-color: white;
    -fx-border-color:transparent;
    -fx-border-width: 3 3 3 3;
}

#buttonR:hover{
    -fx-background-radius:3;
    -fx-background-color: white;
    -fx-border-color: lime;
    -fx-border-width: 3 3 3 3;
}

#buttonE, #buttonE:disabled {
    -fx-background-radius:3;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2 2 2 2;
}

#buttonE:hover{
    -fx-background-radius:3;
    -fx-background-color: white;
    -fx-border-color: lime;
    -fx-border-width: 2 2 2 2;
}